@model Otel_Proje.Models.MusteriHesabi
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared1/_LayoutPageadmin.cshtml";
}


<h2>MÜŞTERİ HESABI EKLEME ALANI</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*tüm messageforlar'a gelen verileri kontrol eder*@
    <div class="form-group">
        @Html.LabelFor(model => model.SonHesap,htmlAttributes: new { @class = "control-label  col-md-2" })
        <div class="col-md-4">

            @Html.EditorFor(model => model.SonHesap, new { htmlAttributes = new { @class = "form-control  alert-warning " } })
            @Html.ValidationMessageFor(model => model.SonHesap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GirisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.GirisTarihi, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.GirisTarihi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CikisTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.CikisTarihi, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.CikisTarihi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KisiSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.KisiSayisi, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.KisiSayisi, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.OdaNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.OdaNo, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.OdaNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.MNo, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.MNo, "", new { @class = "text-danger" })
        </div>
    </div>



    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("AnaSayfa", "Index")
</div>






