@model IEnumerable<Otel_Proje.Models.Servisler>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared1/_LayoutPageadmin.cshtml";
}

@*<h4>Personel Listele</h4>*@


<p>
    @Html.ActionLink(" Oluştur", "Yeni", null, new { @class = "btn btn-success" })

</p>

<br />

<table class="table-bordered alert-warning col-md-6">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ServisAdi)
            @*//kolonları getirir*@
        </th>

        <th>
            @Html.DisplayNameFor(Model => Model.ServisUcret)
        </th>

        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.ServisAdi)
                @*//verileri getirir*@
            </td>

            <td>
                @Html.DisplayFor(Model => item.ServisUcret)
            </td>


            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.ServisNo }, new { @class = "btn btn-success" })
                @Html.ActionLink("Sil", "Sil", new { id = item.ServisNo }, new { @class = "btn btn-success" })
            </td>
        </tr>

    }

</table>



