@model Otel_Proje.Models.Odalar

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared1/_LayoutPageadmin.cshtml";
}

<h2>ODA EKLEME ALANI</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
 
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*tüm messageforlar'a gelen verileri kontrol eder*@
    <div class="form-group">
        @Html.LabelFor(model => model.OdaFiyat, htmlAttributes: new { @class = "control-label  col-md-2" })
        <div class="col-md-4">

            @Html.EditorFor(model => model.OdaFiyat, new { htmlAttributes = new { @class = "form-control  alert-warning " } })
            @Html.ValidationMessageFor(model => model.OdaFiyat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YatakSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.YatakSayisi, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.YatakSayisi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OdaTuru, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.OdaTuru, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.OdaTuru, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ServisNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.ServisNo, new { htmlAttributes = new { @class = "form-control alert-warning" } })
            @Html.ValidationMessageFor(model => model.ServisNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("AnaSayfa", "Index")
</div>




